

@model List<StudentPortal.Models.Entitie.Student11>

<h1>XI Standard Students</h1>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

@if (Model != null)

{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone No</th>
                <th>Percentage</th>
                
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)

            {
                <tr>
                    <td>
                        @student.Id
                    </td>
                    <td>
                        @student.Name
                    </td>
                    <td>
                        @student.Email
                    </td>
                    <td>
                        @student.Phone
                    </td>

                    <td>
                        @student.Percentage
                    </td>
                   
                    <td>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

else

{
    <p>No promoted students found.</p>
}